<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Hostel Companion | Home</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap Icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic"
        rel="stylesheet" type="text/css" />
    <!-- SimpleLightbox plugin CSS-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="assets/css/styles.css" rel="stylesheet" />
    <link href="assets/css/output.css" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Swiper JS -->
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  </head>

<body id="page-top">
    <!-- Navigation-->
    {% include 'header.html' %}
    
    <!-- Masthead-->
    <!-- <header class="masthead">
            <div class="container px-4 px-lg-5 h-100">
                <div class="row gx-4 gx-lg-5 h-100 align-items-center justify-content-center text-center">
                    <div class="col-lg-8 align-self-end">
                        <h1 class="text-white font-weight-bold">Your Favorite Place for Free Bootstrap Themes</h1>
                        <hr class="divider" />
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Start Bootstrap can help you build better websites using the Bootstrap framework! Just download a theme and start customizing, no strings attached!</p>
                        <a class="btn btn-primary btn-xl" href="#about">Find Out More</a>
                    </div>
                </div>
            </div>
        </header> -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel"
        style="max-width: 75%; margin: auto;">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="assets/img/slides/1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/slides/2.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/slides/3.jpg" alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <!-- About-->

 <section class="page-section">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide tw-group tw-p-5 tw-rounded-lg tw-transition-all tw-duration-500 !tw-scale-90 [&.swiper-slide-active]:!tw-scale-100 tw-bg-blue-200 [&.swiper-slide-active]:tw-bg-gradient-to-br tw-from-red-500 tw-to-orange-500">
        <blockquote class="tw-text-center tw-text-black group-[.swiper-slide-active]:tw-text-white">
          <i class="fa fa-quote-right fa-2x pull-right mt-3 mb-3" aria-hidden="true"></i>
          <p class="m-0">
              "The location is unbeatable, just minutes away from campus and city center. Plus, the staff are always helpful and with Boozes"
          </p>
          <footer class="p-2">
              <span class="tw-font-bold">Big Daddy</span><span class="">, CEO</span>
          </footer>
      </blockquote>
      </div>
      <div class="swiper-slide tw-group tw-p-5 tw-rounded-lg tw-transition-all tw-duration-500 !tw-scale-90 [&.swiper-slide-active]:!tw-scale-100 tw-bg-blue-200 [&.swiper-slide-active]:tw-bg-gradient-to-br tw-from-red-500 tw-to-orange-500">
        <blockquote class="tw-text-center tw-text-black group-[.swiper-slide-active]:tw-text-white">
          <i class="fa fa-quote-right fa-2x pull-right mt-3 mb-3" aria-hidden="true"></i>
          <p class="m-0">
              "The location is unbeatable, just minutes away from campus and city center. Plus, the staff are always helpful and with Boozes"
          </p>
          <footer class="p-2">
              <span class="tw-font-bold">Big Daddy</span><span class="">, CEO</span>
          </footer>
      </blockquote>
      </div>
      <div class="swiper-slide tw-group tw-p-5 tw-rounded-lg tw-transition-all tw-duration-500 !tw-scale-90 [&.swiper-slide-active]:!tw-scale-100 tw-bg-blue-200 [&.swiper-slide-active]:tw-bg-gradient-to-br tw-from-red-500 tw-to-orange-500">
        <blockquote class="tw-text-center tw-text-black group-[.swiper-slide-active]:tw-text-white">
          <i class="fa fa-quote-right fa-2x pull-right mt-3 mb-3" aria-hidden="true"></i>
          <p class="m-0">
              "The location is unbeatable, just minutes away from campus and city center. Plus, the staff are always helpful and with Boozes"
          </p>
          <footer class="p-2">
              <span class="tw-font-bold">Big Daddy</span><span class="">, CEO</span>
          </footer>
      </blockquote>
      </div>
      <div class="swiper-slide tw-group tw-p-5 tw-rounded-lg tw-transition-all tw-duration-500 !tw-scale-90 [&.swiper-slide-active]:!tw-scale-100 tw-bg-blue-200 [&.swiper-slide-active]:tw-bg-gradient-to-br tw-from-red-500 tw-to-orange-500">
        <blockquote class="tw-text-center tw-text-black group-[.swiper-slide-active]:tw-text-white">
          <i class="fa fa-quote-right fa-2x pull-right mt-3 mb-3" aria-hidden="true"></i>
          <p class="m-0">
              "The location is unbeatable, just minutes away from campus and city center. Plus, the staff are always helpful and with Boozes"
          </p>
          <footer class="p-2">
              <span class="tw-font-bold">Big Daddy</span><span class="">, CEO</span>
          </footer>
      </blockquote>
      </div>
      <div class="swiper-slide tw-group tw-p-5 tw-rounded-lg tw-transition-all tw-duration-500 !tw-scale-90 [&.swiper-slide-active]:!tw-scale-100 tw-bg-blue-200 [&.swiper-slide-active]:tw-bg-gradient-to-br tw-from-red-500 tw-to-orange-500">
        <blockquote class="tw-text-center tw-text-black group-[.swiper-slide-active]:tw-text-white">
          <i class="fa fa-quote-right fa-2x pull-right mt-3 mb-3" aria-hidden="true"></i>
          <p class="m-0">
              "The location is unbeatable, just minutes away from campus and city center. Plus, the staff are always helpful and with Boozes"
          </p>
          <footer class="p-2">
              <span class="tw-font-bold">Big Daddy</span><span class="">, CEO</span>
          </footer>
      </blockquote>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
 </section>

    <section class="page-section bg-primary" id="about">
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-lg-20 text-center">
                        <h2 class="text-white mt-0">Testimonial</h2>
                        <hr class="divider divider-light"/>
                        <div id="carouselTestimonial" class="carousel slide" data-ride="carousel" style="max-width: 50%; margin: auto;">
                            <ol class="carousel-indicators">
                                <li data-target="#carouselTestimonial" data-slide-to="0" class="active bg-black"></li>
                                <li data-target="#carouselTestimonial" data-slide-to="1" class="bg-black"></li>
                                <li data-target="#carouselTestimonial" data-slide-to="2" class="bg-black"></li>
                                <li data-target="#carouselTestimonial" data-slide-to="3" class="bg-black"></li>
                            </ol>
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <blockquote class="">
                                                <i class="fa fa-quote-right fa-2x text-muted pull-right mt-3 mb-3" aria-hidden="true"></i>
                                                <p class="m-0 text-muted">
                                                    "The location is unbeatable, just minutes away from campus and city center. Plus, the staff are always helpful and with Boozes"
                                                </p>
                                                <footer class="blockquote-footer small p-2">
                                                    <span class="small">Big Daddy</span>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <blockquote class="">
                                                <i class="fa fa-quote-right fa-2x text-muted pull-right mt-3 mb-3" aria-hidden="true"></i>
                                                <p class="m-0 text-muted">
                                                    "The community events make it easy to meet new people and have made my experience here memorable. I've made friends for life!"
                                                </p>
                                                <footer class="blockquote-footer small p-2">
                                                    <span class="small">Salman Khan</span>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <blockquote class="">
                                                <i class="fa fa-quote-right fa-2x text-muted pull-right mt-3 mb-3" aria-hidden="true"></i>
                                                <p class="m-0 text-muted">
                                                    "I appreciate the quiet study spaces available 24/7. It's perfect for late-night cramming sessions or when I need a change of scenery."
                                                </p>
                                                <footer class="blockquote-footer small p-2">
                                                    <span class="small">Adibaba</span>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <blockquote class="">
                                                <i class="fa fa-quote-right fa-2x text-muted pull-right mt-3 mb-3" aria-hidden="true"></i>
                                                <p class="m-0 text-muted">
                                                    "Living here has been so convenient! I've met incredible roommates and the amenities are top-notch. Truly a home away from home."
                                                </p>
                                                <footer class="blockquote-footer small p-2">
                                                    <span class="small">Jugal Naik</span>
                                                </footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a class="carousel-control-prev btn" href="#carouselTestimonial" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next black" href="#carouselTestimonial" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
       <!-- Services-->
       <section class="page-section" id="services">
        <div class="container">
            <h2 class="text-center mt-0">About Us</h2>
            <hr class="divider" />
            <div class="tw-grid tw-grid-cols-2 md:tw-grid-cols-4 tw-gap-4">
                <div class="tw-group tw-select-none hover:tw-scale-110 tw-transition-all tw-duration-300 hover:tw-bg-blue-500 text-center tw-p-3 tw-border tw-border-blue-500 tw-rounded-lg">
                    <div class="mt-5 ">
                        <div class="mb-2"><i class="tw-transition-all tw-duration-300 bi-gem fs-1 tw-text-blue-500 group-hover:tw-text-white"></i></div>
                        <h3 class="h4 tw-transition-all tw-duration-300 mb-2 group-hover:tw-text-white">Sturdy Themes</h3>
                        <p class="tw-text-gray-500 group-hover:tw-text-white tw-transition-all tw-duration-300 mb-0">Our themes are updated regularly to keep them bug free!</p>
                    </div>
                </div>
                <div class="tw-group tw-select-none hover:tw-scale-110 tw-transition-all tw-duration-300 hover:tw-bg-blue-500 text-center tw-p-3 tw-border tw-border-blue-500 tw-rounded-lg">
                    <div class="mt-5">
                        <div class="mb-2"><i class="tw-transition-all tw-duration-300 bi-laptop fs-1 tw-text-blue-500 group-hover:tw-text-white"></i></div>
                        <h3 class="h4 tw-transition-all tw-duration-300 mb-2 group-hover:tw-text-white">Up to Date</h3>
                        <p class="tw-text-gray-500 group-hover:tw-text-white tw-transition-all tw-duration-300 mb-0">All dependencies are kept current to keep things fresh.</p>
                    </div>
                </div>
                <div class="tw-group tw-select-none hover:tw-scale-110 tw-transition-all tw-duration-300 hover:tw-bg-blue-500 text-center tw-p-3 tw-border tw-border-blue-500 tw-rounded-lg">
                    <div class="mt-5">
                        <div class="mb-2"><i class="tw-transition-all tw-duration-300 bi-globe fs-1 tw-text-blue-500 group-hover:tw-text-white"></i></div>
                        <h3 class="h4 tw-transition-all tw-duration-300 mb-2 group-hover:tw-text-white">Ready to Publish</h3>
                        <p class="tw-text-gray-500 group-hover:tw-text-white tw-transition-all tw-duration-300 mb-0">You can use this design as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="tw-group tw-select-none hover:tw-scale-110 tw-transition-all tw-duration-300 hover:tw-bg-blue-500 text-center tw-p-3 tw-border tw-border-blue-500 tw-rounded-lg">
                    <div class="mt-5">
                        <div class="mb-2"><i class="tw-transition-all tw-duration-300 bi-heart fs-1 tw-text-blue-500 group-hover:tw-text-white"></i></div>
                        <h3 class="h4 tw-transition-all tw-duration-300 mb-2 group-hover:tw-text-white">Made with Love</h3>
                        <p class="tw-text-gray-500 group-hover:tw-text-white tw-transition-all tw-duration-300 mb-0">Is it really open source if it's not made with love?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Services-->
    <section class="page-section" id="services">
        <div class="container px-4 px-lg-5">
            <h2 class="text-center mt-0">About Us</h2>
            <hr class="divider" />
            <div class="row gx-4 gx-lg-5">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-gem fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Sturdy Themes</h3>
                        <p class="text-muted mb-0">Our themes are updated regularly to keep them bug free!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-laptop fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Up to Date</h3>
                        <p class="text-muted mb-0">All dependencies are kept current to keep things fresh.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-globe fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Ready to Publish</h3>
                        <p class="text-muted mb-0">You can use this design as is, or you can make changes!</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="mt-5">
                        <div class="mb-2"><i class="bi-heart fs-1 text-primary"></i></div>
                        <h3 class="h4 mb-2">Made with Love</h3>
                        <p class="text-muted mb-0">Is it really open source if it's not made with love?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5">
            <div class="small text-center text-muted">© 2024 GEC Project. All Rights Reserved | Design by YK</div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="assets/js/scripts.js"></script>
</body>

</html>