{% extends 'admin.html' %}

{% block body %}
<br><br><br>
<div style="padding: 4em;">
    <h2 style="font-weight:500">Hostellers</h2>
    <hr>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Phone</th>
            <th scope="col">Department</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
        {% for student in students%}
            <tr>
            <td>{{student.name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.phone}}</td>
            <td>{{student.department}}</td>
            <td><a  href="/student/edit/{{student.id}}" class="btn btn-primary btn-small">Edit <i class="fa fa-pencil" aria-hidden="true"></i></a> <a href="/student/delete/{{student.id}}" class="btn btn-danger btn-small">Delete <i class="fa fa-times" aria-hidden="true"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
</div>

{% endblock %}